.error-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
  }
  
  .error-box {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .error-box h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .error-box h2 {
    font-size: 2rem;
    color: #ff7f50;
  }
  
  .error-box p {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .error-box button {
    background-color: #ff7f50;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
  }

  .btn .btn-primary {
    padding-top: 10px !important;
  }
  